---
title: "7 Days of JS: Factorial and Average"
date: 2019-11-29 19:32 -03
tags: JavaScript, Challenge
image: /images/7daysJS.webp
---

<script type="application/ld+json">
{
 "@context": "https://schema.org", 
 "@type": "BlogPosting",
 "url": "https://lautarolobo.xyz/blog/7-days-of-js-factorial-and-average",
 "mainEntityOfPage": "https://lautarolobo.xyz/blog/7-days-of-js-factorial-and-average",
 "headline": "7 Days of JS: Factorial and Average",
 "alternativeHeadline": "7 Days of JavaScript Challenge: Day 1",
 "genre": "JavaScript", 
 "keywords": [
  "challenge", 
  "javascript", 
  "computer science", 
  "programming" 
],  
 "wordcount": "204",
 "datePublished": "2019-11-29",
 "dateCreated": "2019-11-29",
 "dateModified": "2019-11-29",
 "description": "A 7 days challenge to make you a better JavaScript programmer",
 "isFamilyFriendly": "true",
 "image": "https://lautarolobo.xyz/images/7daysJS-7f7d8328.webp",
 "publisher": {
  "@type": "Organization",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "logo": {  
   "@type": "ImageObject",
   "author": "Lautaro Jordan Lobo Ravarotto",
   "url": "https://imgsafe.org/image/5709e8ceba.png"
   }
  },
 "author": {
  "@type": "Person",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "email": "contact@lautarolobo.xyz",
  "birthDate": "2000-04-12",
  "gender": "male",
  "nationality": "Argentina",
  "alumniOf": {
   "@type": "CollegeOrUniversity",
   "legalName": "National University of Córdoba",
   "sameAs": "https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba",
   "location": {
    "@type": "Place",
    "sameAs": "http://unc.edu.ar",
    "name": "National University of Córdoba",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Av. Haya de la Torre s/n",
      "addressCountry": "Argentina",
      "addressLocality": "Córdoba",
      "postalCode": "5000" 
      }
     }
    }
   },
 "creator": {
  "@type": "Person",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "email": "contact@lautarolobo.xyz",
  "birthDate": "2000-04-12",
  "gender": "male",
  "nationality": "Argentina",
  "alumniOf": {
   "@type": "CollegeOrUniversity",
   "legalName": "National University of Córdoba",
   "sameAs": "https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba",
   "location": {
    "@type": "Place",
    "sameAs": "http://unc.edu.ar",
    "name": "National University of Córdoba",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Av. Haya de la Torre s/n",
      "addressCountry": "Argentina",
      "addressLocality": "Córdoba",
      "postalCode": "5000" 
      }
     }
    }   
   }
  }
 }
},
</script>

Welcome to day 1 of 7 Days of JavaScript! A 7 days challenge to crack your head up into some simple but complex algorithms. Today we'll work on writing two math functions, factorial and average. 

To test and run JavaScript, you need the JSC compiler.

Just kidding! A compiler?! You can run it in your own browser!

But, I've found this website: <a href="https://playcode.io/" target="_blank">Playcode.io</a>. It has all I want, a minimalistic dark theme and a clean console. You can run the code wherever you want, but I encourage you to use Playcode, everything is just nicer. 

Enough introduction, let's dive right in!

## Factorial

So the factorial function takes a Natural number `n`, and returns the product between all the Naturales numbers that are between 1 and `n`, like this:

~~~java
5
//1*2*3*4*5
120
~~~

## Average

The average function is a well known one. It takes an array of numbers, sums them and divides that sum by the length of the initial array. Here's an example:

~~~java
[1,5,8,4]
//(1+5+8+4)/4
4.5
~~~

Now it's your turn. Give them a try, especially if you are kinda newbie on JavaScript because you’ll build a good understanding of how loops work.

Did you solve them already? Try a different approach! Making more than one solution will strengthen your knowledge, giving you some flexibility when facing problems. And that’s key when programming.

<a href="https://lautarolobo.xyz/blog/solution-to-day-1-of-7-days-of-js" title="Solution to Day 1 of 7 Days of JS">Here</a> are the solutions.

See ya!

