---
title: "7 Days of JS: myElement + n"
date: 2019-12-04 09:25 -03
tags: JavaScript, Challenge
image: /images/7daysJS.webp
---

<script type="application/ld+json">
{
 "@context": "https://schema.org", 
 "@type": "BlogPosting",
 "url": "https://lautarolobo.xyz/blog/7-days-of-js-myelement-plus-n/",
 "mainEntityOfPage": "https://lautarolobo.xyz/blog/7-days-of-js-myelement-plus-n/",
 "headline": "7 Days of JS: myElement + n",
 "alternativeHeadline": "Day 6 of 7 Days of JS",
 "genre": "JavaScript", 
 "keywords": [
  "javascript", 
  "challenge", 
  "programming"
],  
 "wordcount": "66",
 "datePublished": "2019-12-04",
 "dateCreated": "2019-12-04",
 "dateModified": "2019-12-04",
 "description": "6th Day of 7 Days of JS",
 "isFamilyFriendly": "true",
 "image": "https://lautarolobo.xyz/images/7daysJS-7f7d8328.webp",
 "publisher": {
  "@type": "Organization",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "logo": {  
   "@type": "ImageObject",
   "author": "Lautaro Jordan Lobo Ravarotto",
   "url": "https://imgsafe.org/image/5709e8ceba.png"
   }
  },
 "author": {
  "@type": "Person",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "email": "contact@lautarolobo.xyz",
  "birthDate": "2000-04-12",
  "gender": "male",
  "nationality": "Argentina",
  "alumniOf": {
   "@type": "CollegeOrUniversity",
   "legalName": "National University of Córdoba",
   "sameAs": "https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba",
   "location": {
    "@type": "Place",
    "sameAs": "http://unc.edu.ar",
    "name": "National University of Córdoba",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Av. Haya de la Torre s/n",
      "addressCountry": "Argentina",
      "addressLocality": "Córdoba",
      "postalCode": "5000" 
      }
     }
    }
   },
 "creator": {
  "@type": "Person",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "email": "contact@lautarolobo.xyz",
  "birthDate": "2000-04-12",
  "gender": "male",
  "nationality": "Argentina",
  "alumniOf": {
   "@type": "CollegeOrUniversity",
   "legalName": "National University of Córdoba",
   "sameAs": "https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba",
   "location": {
    "@type": "Place",
    "sameAs": "http://unc.edu.ar",
    "name": "National University of Córdoba",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Av. Haya de la Torre s/n",
      "addressCountry": "Argentina",
      "addressLocality": "Córdoba",
      "postalCode": "5000" 
      }
     }
    }   
   }
  }
 }
},
</script>

Welcome to day 6 of 7 Days of JavaScript!

Let's see, I got a nice one for today.

Given an array and a number `n`, return the array with each element summed to `n`.

Here's an example:

~~~javascript
sumToArray(5,[1,2,3,4])
...
[6,7,8,9]
~~~

If you want, you can also return the output as a string- If that makes it easier for you, it's OK.

You can check out the solution algorithm <a href="https://lautarolobo.xyz/blog/solution-to-day-6-of-7-days-of-js/" title="#7DaysJs - myElement + n">here</a>.
