---
title: How Machine Learning, 5G and Data Science Will be Critical to the Future of the Internet of Things
date: 2019-09-30 12:20 -03
tags: Neural Networks, AI, Machine Learning, Deep Learning, Internet of Things, Data Science
image: /images/cincoge.webp
---

<script type="application/ld+json">
{
 "@context": "https://schema.org", 
 "@type": "BlogPosting",
 "url": "https://lautarolobo.xyz/blog/how-machine-learning-5g-and-data-science-will-be-critical-to-the-future-of-the-internet-of-things/",
 "mainEntityOfPage": "https://lautarolobo.xyz/blog/how-machine-learning-5g-and-data-science-will-be-critical-to-the-future-of-the-internet-of-things/",
 "headline": "How Machine Learning, 5G and Data Science Will be Critical to the Future of the Internet of Things",
 "alternativeHeadline": "What's Coming on Internet of Things",
 "image": "https://lautarolobo.xyz/images/cincoge-d568d5df.webp",
 "genre": "Internet of Things", 
 "keywords": [
  "Artificial Neural Networks",
  "Internet of Things", 
  "Neural Networks", 
  "Computer Science", 
  "Artificial Intelligence",
  "AI",
  "Machine Learning",
  "Deep Learning",
  "Data Science",
  "Ubiquitous Computing",
  "5G",
  "4G",
  "Smart Cities",
  "Big Data"
],  
 "wordcount": "1375",
 "datePublished": "2019-09-30",
 "dateCreated": "2019-09-30",
 "dateModified": "2019-09-30",
 "description": "Machine Learning to understand the Big Data collected from Internet of Things. That says it all.",
 "isFamilyFriendly": "true",
 "publisher": {
  "@type": "Organization",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "logo": {  
   "@type": "ImageObject",
   "author": "Lautaro Jordan Lobo Ravarotto",
   "url": "https://imgsafe.org/image/5709e8ceba.png"
   }
  },
 "author": {
  "@type": "Person",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "email": "contact@lautarolobo.xyz",
  "birthDate": "2000-04-12",
  "gender": "male",
  "nationality": "Argentina",
  "alumniOf": {
   "@type": "CollegeOrUniversity",
   "legalName": "National University of Córdoba",
   "sameAs": "https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba",
   "location": {
    "@type": "Place",
    "sameAs": "http://unc.edu.ar",
    "name": "National University of Córdoba",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Av. Haya de la Torre s/n",
      "addressCountry": "Argentina",
      "addressLocality": "Córdoba",
      "postalCode": "5000" 
      }
     }
    }
   },
 "creator": {
  "@type": "Person",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "email": "contact@lautarolobo.xyz",
  "birthDate": "2000-04-12",
  "gender": "male",
  "nationality": "Argentina",
  "alumniOf": {
   "@type": "CollegeOrUniversity",
   "legalName": "National University of Córdoba",
   "sameAs": "https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba",
   "location": {
    "@type": "Place",
    "sameAs": "http://unc.edu.ar",
    "name": "National University of Córdoba",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Av. Haya de la Torre s/n",
      "addressCountry": "Argentina",
      "addressLocality": "Córdoba",
      "postalCode": "5000" 
      }
     }
    }   
   }
  }
 }
},
</script>

By 2020, the total number of Internet-connected devices will be between 25-50 billion.

This is a deep dive into the future of the Internet of Things and the challenges to come with the rise of new technologies and big amounts of data collected by all these connected devices.

<div id="index">

<h4> Index </h4>
 
<ul>

<li>
    <a href="#h2-1">What 5G has new</a>
</li>
<li>
    <a href="#h2-2">How IoT will benefit from 5G</a>
</li>
<li>
    <a href="#h2-3">How IoT goes hand-to-hand with Data Science and Machine Learning</a>
</li>
<li> 
    <a href="#h2-4">Summary</a> 
</li>

</ul>

</div>

<h2 id="h2-1"> What 5G has new </h2>

5G is:

* Less battery consuming
* 20+ times faster than 4G LTE 
* Able to support up to a million devices per km²

### Less battery consuming

We all know it, 4G drains battery like a champ.

But don’t worry, 5G will be less battery consuming than 4G, the International Telecommunications Union is working on it. They are a part of the ONU and the ones that are working strong to develop 5G.

The changes in the latency, among other measures, will make 5G less battery consuming than 4G. 

Won't make your battery last forever, but hopefully a few hours more.

### 20+ times faster than 4G LTE

The max download speed on 4G LTE is on 64 Mbps/s. The max download on 5G is more than 1 Gb/s. 

And this stills in development. It's expected to have a download speed at a minimum of... 20 Gbs/s!

<a href="https://giphy.com/gifs/bye-looney-tunes-running-away-xT39CVCn6Eq8Ve9FZu"><div style="width:100%;height:0;padding-bottom:67%;position:relative;"><iframe src="https://giphy.com/embed/xT39CVCn6Eq8Ve9FZu" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div></a>

Want some more real data? 

Qualcomm made a test at San Franciso. The median 4G user was browsing on 71 Mbps/s. Browsing speed increased to 1.4 Gbs/s to the median 5G user. 

They made a similar test on Frankfurt. This time they saw a jump from 56 Mbps/s on browsing speed on the median 4G user, to more than 490 Mbps/s for the median 5G user.

Impressive, right?

### Able to support up to a million devices per km²

Yeap, it's true. It's in the official specifications.

But, how? 

Well, among other things, 5G uses higher frequencies than 4G. Extremely high. That helps to support more devices, without the speed decreases.

<h2 id="h2-2"> How IoT will benefit from 5G </h2>

There are tons of systems already made. Tons of devices out there gathering data, making someone's life easier. But how we can make the IoT experience even better?

To tackle this we need to first that are different 'layers' where IoT is being applied. As examples: financial, educational, health care, military and so on.

The real challenge comes on connecting these layers, making IoT smarter, and more helpful for the final user. In one word, better.

This IoT network would be also a step forward to smart cities, if well implemented.

Where 5G come in?

Well, to build these networks, sharing data between devices, we would need a better Internet. Higher bandwidth and lower latency, for name some. All things that 5G delivers. 

<h2 id="h2-3"> How IoT goes hand-to-hand with Data Science and Machine Learning </h2> 

IoT needs data to either represent better services to users or to enhance IoT framework performance.

There are thousands of devices in every city, each of these smart devices stores data of its users and handles it.

We know the name of this big quantity of diverse data: Big Data.

Intelligent processing and analysis of this Big Data is the key to developing smart IoT applications.

All this information gathered becomes more relevant in big cities, cities that are getting closer to the definition of smart-cities, that have all these devices connected with in-depth online experiences and tons of data of every citizen, every device and every system.

This Big Data without context, without "meaning", won't be really useful. 

Here Data Science steps on. A way to find patterns and new insights from data through different techniques.

Data Scientists will work on collecting all this data, giving more context and relating all the different layers, to create these online experiences and improve them, getting to understand the users' behavior.

In the beginning, most of the Data Scientists will be tagging all this Big Data. In the future, a <a href="https://lautarolobo.xyz/blog/neural-networks-101/" target="_blank">Neural Network</a> will do this work, but to train this Neural Network, there must be some good quantity of tagged data to start with. 
 
Then, the Data Scientists will work on giving all this Big Data more context, more meaning, and developing charts and visualizations to better understand it.

But this giant network of small devices may be insecure. Too many small devices, too many entry points, a public network...

So, how can we make all these more secure? 

Machine Learning!

Just use some good encryption algorithm, and then an extra layer of <a href="https://www.infosecurity-magazine.com/next-gen-infosec/machine-learning-applying/" alt="Machine Learning Concepts on Cryptography">Machine Learning encryption</a>, to make it <a href="https://en.wikipedia.org/wiki/Neural_cryptography" alt="Neural Cryptography">even more secure</a>. If the network is not easy to hack, then these devices won't be easy to hack. Also, we will be protecting the users' privacy, which is something that we must always have in mind.

Let's now get back and remember that 5G will be less energy-consuming than 4G. But with Machine Learning, we can improve even more energy usage! Using some smart algorithms we can improve the network usage, so if the device is not active and there is no need to collect data, we can disconnect the device from the network, or keep the network usage very low. 

This way we won't overcharge the network. We know that 5G supports a lot of devices connected but, you know, prevention.

More on, we'll optimize costs. Being that smart will make these devices work for longer periods and also, with less energy used, less money spent.

What if you want to make things behave based on your personal preferences, on your everyday activities? 

Machine Learning again! 

<center>
<img src="/images/MLmeme.jpeg" alt="Machine Learning Meme">
</center>

Let's say you every day make your coffee for breakfast from Monday to Friday at the same hour each day. Then, thanks to a Machine Learning algorithm that searches for similarities in the usage of your smart devices, you may automate your coffee machine to do it for you.

Sounds cool, right? Well, it's not so far from reality... this is actually <a href="https://ideaing.com/ideas/best-smart-coffee-makers/" alt="Best Smart Coffee-Makers">a thing </a> today! 

There are more uses of Machine Learning in IoT. A Neural Network may be trained to predict maintenance. 

Algorithms can find the devices that tend to fail, letting us know that those particular devices must be improved and replaced, or removed from the system. 

Knowing when a device will fail, or when will start to fail, gives repairmen a huge advantage. They can schedule better the workdays. Enterprises can predict costs and know beforehand with much certainty when and how much they will be spending on repairs. 

And this gives a huge advantage to the user too. The service providers will be able to replace devices before they fail, making a better UX, and preventing possible risks and malfunctions (like a coffee machine burning your coffee, your car velocimeter working crazy or a water tank overfilling).

<h2 id="h2-4"> Summary </h2>

> Hundreds of computers in a room could seem intimidating at first, just as hundreds of volts coursing through wires in the walls did at one time.

This is a quote taken from <a href="https://en.wikipedia.org/wiki/Mark_Weiser">Mark Weiser</a>'s famous paper <a href="https://www.ics.uci.edu/~corps/phaseii/Weiser-Computer21stCentury-SciAm.pdf">"The Computer for the 21st Century"</a>. He was talking about this newly conceived concept of ubiquitous computing. 

Now we may say that he was talking about the Internet of Things... before it was actually a thing! 

This somehow dystopic, Sci-Fi scenario, it's not quite distant from us. We are getting there. We are already there.

With these tiny computers in every room, we have some tasks to address, some technologies to discuss, to improve, to use. Machine Learning algorithms will be critical, not only for managing the data but also for the sake of our privacy. 

If experts in these fields <a href="https://blogs-images.forbes.com/louiscolumbus/files/2019/03/average-base-salary.jpg" alt="indeed.com salary charts">are needed now</a>, imagine in the future, when 5G will support even more devices connected to the network, when more data will be collected every day. It's an industry that will never stop growing, for good or wrong.

All the gathered information from the IoT must be used to make smarter decisions, with responsibility and taking care of the user's privacy. Something that every person working on the field must have in mind. 

<hr>

Do you think I forgot about something? Do you have any experience in IoT? Use the comments box!

If you found this post somehow cool, share it with your somehow cool friends!

Stay tunned from my next post!

<hr>

## Related posts
* <a href="https://lautarolobo.xyz/blog/neural-networks-101/" target="_blank">Neural Networks 101</a>
