---
title: "7 Days of JS: Read My Sign"
date: 2019-12-01 18:22 -03
tags: JavaScript, Challenge
image: /images/7daysJS.webp
---

<script type="application/ld+json">
{
 "@context": "https://schema.org", 
 "@type": "BlogPosting",
 "url": "https://lautarolobo.xyz/blog/7-days-of-js-read-my-sign/",
 "mainEntityOfPage": "https://lautarolobo.xyz/blog/7-days-of-js-read-my-sign/",
 "headline": "7 Days of JS: Read My Sign",
 "alternativeHeadline": "Day 3 of 7 Days of JS",
 "genre": "JavaScript", 
 "keywords": [
  "javascript", 
  "challenge", 
  "programming"
],  
 "wordcount": "47",
 "datePublished": "2019-12-01",
 "dateCreated": "2019-12-01",
 "dateModified": "2019-12-01",
 "description": "3th Day of 7 Days of JS",
 "isFamilyFriendly": "true",
 "image": "https://lautarolobo.xyz/images/7daysJS-7f7d8328.webp",
 "publisher": {
  "@type": "Organization",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "logo": {  
   "@type": "ImageObject",
   "author": "Lautaro Jordan Lobo Ravarotto",
   "url": "https://imgsafe.org/image/5709e8ceba.png"
   }
  },
 "author": {
  "@type": "Person",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "email": "contact@lautarolobo.xyz",
  "birthDate": "2000-04-12",
  "gender": "male",
  "nationality": "Argentina",
  "alumniOf": {
   "@type": "CollegeOrUniversity",
   "legalName": "National University of Córdoba",
   "sameAs": "https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba",
   "location": {
    "@type": "Place",
    "sameAs": "http://unc.edu.ar",
    "name": "National University of Córdoba",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Av. Haya de la Torre s/n",
      "addressCountry": "Argentina",
      "addressLocality": "Córdoba",
      "postalCode": "5000" 
      }
     }
    }
   },
 "creator": {
  "@type": "Person",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "email": "contact@lautarolobo.xyz",
  "birthDate": "2000-04-12",
  "gender": "male",
  "nationality": "Argentina",
  "alumniOf": {
   "@type": "CollegeOrUniversity",
   "legalName": "National University of Córdoba",
   "sameAs": "https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba",
   "location": {
    "@type": "Place",
    "sameAs": "http://unc.edu.ar",
    "name": "National University of Córdoba",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Av. Haya de la Torre s/n",
      "addressCountry": "Argentina",
      "addressLocality": "Córdoba",
      "postalCode": "5000" 
      }
     }
    }   
   }
  }
 }
},
</script>

Welcome to day 3 of 7 of Days of JavaScript! 

Today's challenge is to write a function that takes an array, and says how many numbers are positives, how many numbers are negatives, and how many are zeros.

Example:

~~~java
[1,3,0,-1,0,5,-5]
...
{
zeros: 2,
positives: 3,
negatives: 2 
}
~~~

Good luck!

You can see the solution <a href="https://lautarolobo.xyz/blog/solution-to-day-3-of-7-days-of-js/" title="#7DaysJs - Read My Sign">here</a>.
