---
title: "7 Days of JS: Primes Until n"
date: 2019-12-05 08:16 -03
tags: JavaScript, Challenge
image: /images/7daysJS.webp
---

<script type="application/ld+json">
{
 "@context": "https://schema.org", 
 "@type": "BlogPosting",
 "url": "https://lautarolobo.xyz/blog/7-days-of-js-primes-until-n/",
 "mainEntityOfPage": "https://lautarolobo.xyz/blog/7-days-of-js-primes-until-n/",
 "headline": "7 Days of JS: Primes Until n",
 "alternativeHeadline": "Day 7 of 7 Days of JS",
 "genre": "JavaScript", 
 "keywords": [
  "javascript", 
  "challenge", 
  "programming"
],  
 "wordcount": "86",
 "datePublished": "2019-12-05",
 "dateCreated": "2019-12-05",
 "dateModified": "2019-12-05",
 "description": "Last Day of 7 Days of JS",
 "isFamilyFriendly": "true",
 "image": "https://lautarolobo.xyz/images/7daysJS-7f7d8328.webp",
 "publisher": {
  "@type": "Organization",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "logo": {  
   "@type": "ImageObject",
   "author": "Lautaro Jordan Lobo Ravarotto",
   "url": "https://imgsafe.org/image/5709e8ceba.png"
   }
  },
 "author": {
  "@type": "Person",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "email": "contact@lautarolobo.xyz",
  "birthDate": "2000-04-12",
  "gender": "male",
  "nationality": "Argentina",
  "alumniOf": {
   "@type": "CollegeOrUniversity",
   "legalName": "National University of Córdoba",
   "sameAs": "https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba",
   "location": {
    "@type": "Place",
    "sameAs": "http://unc.edu.ar",
    "name": "National University of Córdoba",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Av. Haya de la Torre s/n",
      "addressCountry": "Argentina",
      "addressLocality": "Córdoba",
      "postalCode": "5000" 
      }
     }
    }
   },
 "creator": {
  "@type": "Person",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "email": "contact@lautarolobo.xyz",
  "birthDate": "2000-04-12",
  "gender": "male",
  "nationality": "Argentina",
  "alumniOf": {
   "@type": "CollegeOrUniversity",
   "legalName": "National University of Córdoba",
   "sameAs": "https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba",
   "location": {
    "@type": "Place",
    "sameAs": "http://unc.edu.ar",
    "name": "National University of Córdoba",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Av. Haya de la Torre s/n",
      "addressCountry": "Argentina",
      "addressLocality": "Córdoba",
      "postalCode": "5000" 
      }
     }
    }   
   }
  }
 }
},
</script>

Welcome to day 7 of 7 Days of JavaScript! 

Today, on the last day of this challenge, we will tackle a hard one.

Write a function that takes a Natural number `n`, which returns all the primes from 0 to `n` and a string at the end with some phrase.

Example: 

~~~javascript
primesUntil(7)
...
2
3
5
'Why the string?'
~~~

Hint: you may want to use a helper function.

Give it time. If you feel frustrated, go take a walk and then sit down to try it again. 

And then, read the solution <a href="https://lautarolobo.xyz/blog/solution-to-day-7-of-7-days-of-js/" title="Solution to the last day of 7 Days of JS">here</a>.
