---
title: Here Are 5 Reasons Why You Need to Go to a Hackathon
date: 2019-10-17 12:00 -03
tags: Hackathon
image: /images/hackatrix.webp
---

<script type="application/ld+json">
{
 "@context": "https://schema.org", 
 "@type": "BlogPosting",
 "url": "https://lautarolobo.xyz/blog/here-are-5-reasons-why-you-need-to-go-to-a-hackathon/",
 "mainEntityOfPage": "https://lautarolobo.xyz/blog/here-are-5-reasons-why-you-need-to-go-to-a-hackathon/",
 "headline": "Here's Why You Need to go to a Hackathon, Bullet-Pointed",
 "alternativeHeadline": "",
 "image": "https://lautarolobo.xyz/images/hackatrix-cb1b1607.png",
 "genre": "Hackathon", 
 "keywords": [
  "Hackathon",
  "Coding Competition", 
  "Coding Challenge", 
  "Computer Science"
],  
 "wordcount": "687",
 "datePublished": "2019-10-17",
 "dateCreated": "2019-10-17",
 "dateModified": "2019-10-17",
 "description": "Hackathons everywhere but, are they worthy? For sure! And here's why.",
 "isFamilyFriendly": "true",
 "publisher": {
  "@type": "Organization",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "logo": {  
   "@type": "ImageObject",
   "author": "Lautaro Jordan Lobo Ravarotto",
   "url": "https://imgsafe.org/image/5709e8ceba.png"
   }
  },
 "author": {
  "@type": "Person",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "email": "contact@lautarolobo.xyz",
  "birthDate": "2000-04-12",
  "gender": "male",
  "nationality": "Argentina",
  "alumniOf": {
   "@type": "CollegeOrUniversity",
   "legalName": "National University of Córdoba",
   "sameAs": "https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba",
   "location": {
    "@type": "Place",
    "sameAs": "http://unc.edu.ar",
    "name": "National University of Córdoba",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Av. Haya de la Torre s/n",
      "addressCountry": "Argentina",
      "addressLocality": "Córdoba",
      "postalCode": "5000" 
      }
     }
    }
   },
 "creator": {
  "@type": "Person",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "email": "contact@lautarolobo.xyz",
  "birthDate": "2000-04-12",
  "gender": "male",
  "nationality": "Argentina",
  "alumniOf": {
   "@type": "CollegeOrUniversity",
   "legalName": "National University of Córdoba",
   "sameAs": "https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba",
   "location": {
    "@type": "Place",
    "sameAs": "http://unc.edu.ar",
    "name": "National University of Córdoba",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Av. Haya de la Torre s/n",
      "addressCountry": "Argentina",
      "addressLocality": "Córdoba",
      "postalCode": "5000" 
      }
     }
    }   
   }
  }
 }
},
</script>

Here's why you need to go to a Hackathon, bullet-pointed:


* <a href="#h2-1">To Network</a>
* <a href="#h2-2">To Learn</a>
* <a href="#h2-3">To Build</a>
* <a href="#h2-4">To Listen</a>
* <a href="#h2-5">To Have Fun</a>

But first, let me tell you more about the Hackathon which I attended 2 weeks ago, the Hackatrix. That's when I got inspired to write this post.

The Hackatrix was organized by Belatrix, an international software factory recently bought by an even more international software factory: Globant.

It was lovely, big thanks to the organizers! Cool prices and cool food through the full day.

It was my second time attending the Hackatrix, and their 5th edition in Buenos Aires.

I was on a different team than the year before, which is great because that way you get to know new people! We built a platform to connect volunteers with nonprofit organizations, using the create-react-app boilerplate, adding Bootstrap and Redux, and even an API wrote that day by one of the team members using Kotlin. Fact: that guy was a Backend magician.

You can take a look at the code [here.](https://github.com/hackathon-prost/)

We ended up being on the half that passed the technical interview and went to the final exposition. Although we didn't win, I can say that it was an awesome experience, I'll get back to the Hackatrix next year for sure!

Well, that's it about the recap, now let's see why YOU should go to a Hackathon too!

<h2 id="h2-1">To Network</h2>

On Hackathons you get to know people. You get to know a possible future employee, employer, someone with you may end up working with... or even someone that will become a friend! 

Yes, it may happen too, that you never see them again. But listen, the feeling of sharing the experience with them will never leave you. 

You will share thoughts, experiences. Why not, right?

<h2 id="h2-2"> To Learn </h2>

Guess what, your team members will teach you things. That always happens. And you will even teach some stuff to others too, reinforcing your knowledge about that specific topic.

You will gain confidence when sharing your ideas and your project with others. 

And you will need to ask for help at some time. Don't be shy, do it! You'll learn new stuff.

<h2 id="h2-3"> To Build </h2>

You will end up with a cool project to enlarge your resume. 

If you really like the project, you can keep working on the project before the Hackathon ends. You may even end up with a functional app uploaded on the Google Play Store, or something like that. If you give it steroids (not real steroids... you know what I mean), you will end up with those popping-everywhere things... a Startup!

<h2 id="h2-4"> To Listen </h2>

At any Hackathon, you'll hear about some cool and brand-new projects and ideas. Your teammates will talk to you about career-path, jobs and experiences, all invaluable pieces of information. 

Don't stay quiet, but neither talk all day or you are going to lose many insights that will refresh your soul, get you motivated, and lead you in a good way. 

<h2 id="h2-5"> To Have Fun </h2>

Finally, the most important thing: have fun! That's what life is all about, right?

Smile. Laugh a bit. You may don't get the cool merchandise, either a small price, but you end up fresh, new, motivated, with a cool project to showcase. You get out as a different person, more mature, or more capable to work on your next project.

***

Now, find a Hackathon near you and go! 

<a href="https://giphy.com/gifs/just-do-it-shia-UqZ4imFIoljlr5O2sM"><div style="width:80%;height:0;padding-bottom:75%;position:relative;margin-left:10%;"><iframe src="https://giphy.com/embed/UqZ4imFIoljlr5O2sM" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div></a>

You'll have a blast. 

Comment below if you have participated in a Hackathon, to inspire others to go! 
