---
title: January of JavaScript
date: 2020-01-22 18:17 -03
tags:
---

<script type="application/ld+json">
{
 "@context": "https://schema.org", 
 "@type": "BlogPosting",
 "url": "https://lautarolobo.xyz/blog/january-of-javascript",
 "mainEntityOfPage": "https://lautarolobo.xyz/blog/january-of-javascript",
 "headline": "January of JavaScript",
 "alternativeHeadline": "JavaScript on January",
 "genre": "JavaScript", 
 "keywords": [
  "javascript", 
  "january", 
  "programming",
  "coding"
],  
 "wordcount": "617",
 "datePublished": "2019-01-17",
 "dateCreated": "2019-01-17",
 "dateModified": "2019-01-17",
 "description": "It's January, time to talk about JavaScript",
 "isFamilyFriendly": "true",
 "image": "https://imgsafe.org/image/5709e8ceba",
 "publisher": {
  "@type": "Organization",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "logo": {  
   "@type": "ImageObject",
   "author": "Lautaro Jordan Lobo Ravarotto",
   "url": "https://imgsafe.org/image/5709e8ceba.png"
   }
  },
 "author": {
  "@type": "Person",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "email": "contact@lautarolobo.xyz",
  "birthDate": "2000-04-12",
  "gender": "male",
  "nationality": "Argentina",
  "alumniOf": {
   "@type": "CollegeOrUniversity",
   "legalName": "National University of Córdoba",
   "sameAs": "https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba",
   "location": {
    "@type": "Place",
    "sameAs": "http://unc.edu.ar",
    "name": "National University of Córdoba",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Av. Haya de la Torre s/n",
      "addressCountry": "Argentina",
      "addressLocality": "Córdoba",
      "postalCode": "5000" 
      }
     }
    }
   },
 "creator": {
  "@type": "Person",
  "name": "Lautaro Jordan Lobo Ravarotto",
  "url": "https://lautarolobo.xyz",
  "email": "contact@lautarolobo.xyz",
  "birthDate": "2000-04-12",
  "gender": "male",
  "nationality": "Argentina",
  "alumniOf": {
   "@type": "CollegeOrUniversity",
   "legalName": "National University of Córdoba",
   "sameAs": "https://en.wikipedia.org/wiki/National_University_of_C%C3%B3rdoba",
   "location": {
    "@type": "Place",
    "sameAs": "http://unc.edu.ar",
    "name": "National University of Córdoba",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Av. Haya de la Torre s/n",
      "addressCountry": "Argentina",
      "addressLocality": "Córdoba",
      "postalCode": "5000" 
      }
     }
    }   
   }
  }
 }
},
</script>

It's January. Time to talk about JavaScript. How was it born? Why is it called like that? Is it really that popular? Let's find out!

## A Little Bit Of History

JavaScript was born in December of 1995 when Netscape announced it's rollout. The guy behind the work? Brendan Eich, a Computer Scientist working at that time in Netscape. He's known as the father of JavaScript, because of his titanic work on the language before it's rollout.

Fun fact: JavaScript was named Mocha, then LiveScript, and finally they changed it once and for all to the name that we all know now.

And why is it called 'Java'-'Script'? Well, quoting Brendan:

> [...] It was all within six months from May till December (1995) that it was Mocha and then LiveScript. And then in early December, Netscape and Sun did a license agreement and it became JavaScript. And the idea was to make it a complementary scripting language to go with Java, with the compiled language.

A co-marketing deal between Netscape and Sun.

In fact, Oracle acquired Sun Microsystems in 2009, so "JAVASCRIPT" is a trademark of Oracle. How crazy is that?

In 1997, ECMAScript was born. But what is ECMAScript? It's a standard, a specification of a programming language, published by ECMA (European Computer Manufacturers Association) International. So JavaScript is a dialect of the ECMAScript standard. 

That's right, ECMAScript *defines* a programming language, and JavaScript *is* the programming language. 

There were different versions of the standard since it first came out. Today, every modern web browser supports ECMAScript 5.1, and almost everyone supports the latest version, ECMAScript 6. Newer versions are still in the early stages of development.

Are you confused yet? To make it simpler, ECMAScript is like the version, and JavaScript is the language itself.

For a more-of-a-timeline of the history of JavaScript, check:

[The Weird History of JavaScript](https://dev.to/codediodeio/the-weird-history-of-javascript-2bnb)

## Weird Stuff

When using JS, you may find some weird stuff going one, like that NaN (which stands for Not a Number) it's a... number:

~~~javascript
console.log(typeof(NaN)) // number
~~~

And NaN it's not NaN ¿?

~~~javascript
console.log(NaN === NaN) // false
~~~

And that NaN is an infinite number. Wait... what?

~~~javascript
console.log(isFinite(NaN)) // false
~~~

And you know what's the weirdest part? You should expect JS to behave like this! I mean, this is all on the specs.


<center><a href="https://giphy.com/gifs/CDJo4EgHwbaPS"><iframe src="https://giphy.com/embed/CDJo4EgHwbaPS" width="480" height="254" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></a></center>

You can take a look at more weird stuff here:

[Do you know these weird parts of JavaScript?](https://dev.to/qjlee/do-you-know-these-weird-parts-of-javascript-48pg)

## What's Next?

As I said before, there are some newer versions of the ECMAScript standard on development. But in so early stages that we shouldn't expect JS to change much anytime soon.

After all, you can already use JS on almost anything: Videogames, AI, Back-End, Front-End, Art, Data Analytics... 

And many frameworks and libraries are popping up every day. [Svelte](https://svelte.dev/) has changed the paradigm of website rendering. There's this thing called [CSS-in-JS](https://cssinjs.org/?v=v10.0.3). You can even write Artificial Neural Networks with [Tensorflow.js](https://www.tensorflow.org/js), develop videogames with [Babylon.js](https://github.com/BabylonJS/Babylon.js), make art using [p5.js](https://p5js.org/), [automate stuff with NodeJS](https://medium.com/dailyjs/how-i-automated-my-job-with-node-js-94bf4e423017), [even make charts based on .csv files!](https://observablehq.com/@dakoop/learn-js-data)

Dang that's broad, right?

So yeah, it's a smart move to learn JavaScript. It's used all around the web and even in non-web environments, for good or bad. In fact, from the [Stack Overflow Developer Survey of 2019](https://insights.stackoverflow.com/survey/2019) we can say that it's the most commonly used programming language. And the top Libraries and Frameworks are also JS-based.

It seems like JS is staying with us for a while.

***

Hey, thanks for reading until this far! If you are starting your journey on JavaScript, or just want to train yourself a bit, check my [#7DaysJS Challenge!](https://lautarolobo.xyz/blog/7-days-of-js-factorial-and-average/) 

See ya!
